###EschatologicalUnit.Prop配置文件###
#该插件为OurWorld服务器EschatologicalUnit小游戏项目的一个原创插件
#shift使用道具

config:
    #本插件提示消息的前缀
    prefix: "[EschatologicalUnit]"


#数据信息
items:
  test:
 #是否忽视位置限制
    anyLoc: true  
#是否忽视手上物品限制
    anyItem: false  
#物品信息(请使用euP set <ID> 来将你手上的物品添加至此)
    data:   
      type: IRON_BARDING
      meta:
        ==: ItemMeta
        meta-type: UNSPECIFIC
        display-name: test
        lore:
        - test
#位置限制
    Loc:
      x: 100
      y: 100
      z: 100
#持续多长时间执行指令
    time: 60   
#该条目达成后执行的指令
#%player%变量代表玩家名称
    cmd:
    - say 使用完成
#持续时显示在屏幕上的title
    msg: 测试语句
#是否消耗物品(仅在anyItem为false时有效)
    consume: false