###EschatologicalUnit.Prop配置文件###
#该插件为OurWorld服务器EschatologicalUnit小游戏项目的一个原创插件
#shift使用道具

config:
    #本插件提示消息的前缀
    prefix: "[EschatologicalUnit]"


#物品信息
items:
   test:
    data:
      type: IRON_BARDING
      meta:
        ==: ItemMeta
        meta-type: UNSPECIFIC
        display-name: test
        lore:
        - test
    time: 60
    cmd:
    - say 使用完成
    msg: 测试语句